constraints in SQL are rules that you apply to table columns to control what data can be stored.

Main SQL Constraints

1.PRIMARY KEY

Uniquely identifies each row.
Cannot be NULL.
eg:

id INT PRIMARY KEY

2.NOT NULL

Column must have a value.
name VARCHAR(50) NOT NULL

3.UNIQUE

Prevents duplicate values.
email VARCHAR(100) UNIQUE

4.FOREIGN KEY

Connects one table to another.
dept_id INT REFERENCES department(id)

5.CHECK

Allows values only if a condition is true.
age INT CHECK (age >= 18)

6.DEFAULT

Provides a value automatically if no value is given.
country VARCHAR(30) DEFAULT 'India'

Example in PostgreSQL:-

CREATE TABLE student (
    id INT PRIMARY KEY,
    name VARCHAR(50) NOT NULL,
    email VARCHAR(100) UNIQUE,
    age INT CHECK (age >= 18),
    country VARCHAR(30) DEFAULT 'India'
);